.commentView {
    width: 100%;
    max-width: 650px;
    opacity: 1;
    height: auto;
    display: flex;
    flex-direction: column;
}

.commentViewUnique,
.commentViewNone {
    border: 3px solid #9b1d20ff;
    border-radius: 5px;
}

.commentViewNone {
    text-align: center;
}

.focim {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 5px 0px;
}

.focimAdatok {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.focimData {
    font-style: italic;
}

.deleteIcon {
    width: 115px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.document {
    height: 100px;
    margin: 0px 5px 20px 50px;
    overflow-y: scroll;
}