/*
 * Use Sass because it is easier to customize Bootstrap
 *
 * https://sass-lang.com/
 */

@import "variables";

@import "../node_modules/bootstrap/scss/bootstrap";

/*
 * Custom styles for the Wesnoth Portal
*/
html, body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url('/hatter.jpg');
  background-origin: border-box;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: serif;
}

main {
  @include make-container();
  @include make-row();
}
