@import "variables";

/* TODO: there must be a better way to include every
 * Sass mixin we need
 */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/vendor/rfs";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";

.main {
  margin:auto;
  padding: 0;
}

.fejlec {
  @include make-col(10);
  margin: 5vh auto 0 auto;
  min-height: 270px;
  background-size: 100% 100%;
  background-image: url('/fejlec.jpg');
}

.logo {
  @include make-col(10);
  margin: auto auto;
  position: relative;
  top: 17px;
  min-height: 22vh;
  text-align: center;
}

.logo img {
  margin: auto auto;
  max-width: 100%;
  height: 90%;
}
