@import "variables";

/* TODO: there must be a better way to include every
 * Sass mixin we need
 */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/vendor/rfs";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";

.main {
  margin: 5vh auto 0 auto;
  padding: 0;
}

.fejlec {
  @include make-col(11);
  margin: auto;
  min-height: 270px;
  background-size: 100% 100%;
  background-image: url('/fejlec.jpg');
}

.logo {
  @include make-col(11);
  margin: auto auto;
  position: relative;
  top: 17px;
  min-height: 22vh;
  text-align: center;
}

.logo img {
  margin: auto auto;
  max-width: 100%;
  height: 90%;
}

.tarthatter {
  @include make-col(11);
  margin: auto;
  background-image: url('/tart-hatter.jpg');
  background-repeat: repeat-y;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  color: #bdb58c;
}

.loginreg {
  @include make-col(2);
  margin: 3vh auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kozep {
  @include make-col(9);
  margin: 3vh auto;
}

.tartkozep {
  margin: 0 auto;
  position: inherit;
  top: 17px;
  left: 0px;
  z-index: 2;
  background-image: url('/tart-kozep.jpg');
  background-size: 100% auto;
  background-repeat: round;
  height: 75vh;
}

.tartszel {
  margin: 0 auto;
  height: 95vh;
  background-image: url('/tart-szel.jpg');
  background-repeat: round;
  background-size: 100% auto;
  position: relative;
  z-index: 1;
}

.lablec {
  @include make-col(11);
  margin: auto;
  margin-bottom: 5vh;
  background-image: url('/lablec.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 10vh;
}


@media (max-width: 870px) {
  .loginreg {
    display: none;
  }
  .kozep {
    width: 80vw;
  }
}

@media (max-width: 1111px) {
  .tartkozep {
    height: 80vh;
  }
}

@media (max-width:625px) {
  .tartkozep {
    height: 85vh;
  }
}