@import "variables";

/* TODO: there must be a better way to include every
 * Sass mixin we need
 */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/vendor/rfs";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";

.main {
  margin: 5vh auto 0 auto;
  padding: 0;
  height: auto;
}

.fejlec {
  @include make-col(11);
  margin: auto;
  min-height: 270px;
  background-size: 100% 100%;
  background-image: url('/fejlec.jpg');
}

.logo {
  @include make-col(11);
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoImg {
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.tarthatter {
  @include make-col(11);
  margin: auto;
  background-image: url('/tart-hatter.jpg');
  background-repeat: repeat-y;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #bdb58c;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  top: -5px;
}

.navbarText {
  font-size: 23px;
  font-weight: 400;
  color: #fdcf00;
}

.sideProfile {
  @include make-col(2);
  margin: 3vh auto;
  width: 230px;
  height: 90vh;
  border: 4px solid #9b1d20ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kozep {
  @include make-col(9);
  margin: 3vh auto;
  position: relative;
  z-index: 0;
}

.tartkozep::before {
  content: " ";
  display: block;
  width: 100%;
  height: 180px;
  position: absolute;
  top: -20px;
  z-index: -1000;
  background-image: url('/tart-szel.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.tartkozep::after {
  content: " ";
  display: block;
  width: 100%;
  height: 180px;
  position: absolute;
  top: 405px; /* 405px*/
  z-index: -1000;
  background-image: url('/tart-szel.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.tartkozep {
  margin: 0 0;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  left: 0px;
  background-image: url('/tart-kozep.jpg');
  background-size: contain;
  background-repeat: repeat-y;
}

.lablec {
  @include make-col(11);
  margin: auto;
  margin-bottom: 5vh;
  background-image: url('/lablec.jpg');
  background-size: 100% 100%;
  height: 10vh;
}


@media (max-width: 1249px) {
  .sideProfile {
    display: none;
  }
  .kozep {
    width: 90%;
  }
  .tartkozep {
    height: 70vh;
  }
}

@media (max-width: 960px) {
  .tartkozep {
    height: 77vh;
  }
}

@media (max-width: 640px) {
  .tartkozep {
    height: 80vh;
  }
}

@media (max-width: 500px) {
  .tartkozep {
    height: 83vh;
  }
}

@media (max-width: 400px) {
  .tartkozep {
    height: 85vh;
  }
}