.posts {
    margin: 0px 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pager {
    min-height: 487px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.focim {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.focimAdatok {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.document {
    height: 240px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.comment {
    width: 100%;
    max-width: 660px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writeBtn {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.commentText {
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    max-width: 650px;
    height: 0px;
    opacity: 0;
}

.commentTextExpand {
    height: 80px;
    transition: height 0.5s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
}

.submit {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.submitBtnHidden {
    opacity: 0;
    height: 0;
}

.submitBtnVisible {
    margin: 0px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 24px;
    opacity: 1;
}